#bootstrap-overrides{
	font-size:18px;
}

#header{
	margin-top: 5vh;
	font-size: 24px;
	border-top: thin outset black;
	background-color: rgb(202,222,245);
	font-weight: bold;
	text-align: left;
	border-right: none;
}

#editer{
	margin-top: 5vh;
	font-size: 14px;
	border-top: thin outset black;
	border-right: thin outset black;
	background-color: rgb(202,222,245);
	text-align: right;
	vertical-align: bottom;
	font-weight: bold;
	padding-right: 5px;
	padding-top:14px;
	padding-bottom:3px;
	height: 38px;
}

#editertext{
	cursor: pointer;
}

#adder{
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	width:100%;
	border: thin outset black;
	border-left: none;
	border-top: none;
	border-bottom: none;
	padding-left: 5px;
}

#edit{
	width:100%;
	border: thin outset black;
	border-left: none;
	border-top: none;
	border-bottom: none;
	padding-left: 5px;
}

#footer{
	border-bottom: thin outset black;
}

.box{
	border: thin outset black;
	border-top: none;
	border-bottom: none;
	padding-left: 5px;
	padding-bottom: 3px;
	font-size: 17px;
}

#plus{
	font-size: 19px;
	font-weight: bold;
	cursor: pointer;
}

::placeholder{
	color: rgba(0, 0, 0, 0.2);
}

textarea:focus, input:focus{
    outline: none;
}

.todotext{
	padding-bottom: 1px;
	padding-top: 1px;
	padding-left: 5px;
	text-align: left;
	border-right: thin outset black;
}

.strikethrough{
	text-decoration: line-through;
}

#bootstrap-overrides .nopadding{
	padding: 0;
	text-align: center;
}

#bootstrap-overrides .borderleft{
	border-left: thin outset black;
}

#bootstrap-overrides .glyphicon {
    font-size: 14px;
    cursor: pointer;
}

#bootstrap-overrides .checker {
    cursor: pointer;
    margin: 0;
}

#bootstrap-overrides .col-xs-1{
	font-size: 19px;
}
