#bootstrap-overrides{
	word-wrap: break-word; 
}

#header{
	font-size: 24px;
	background-color: rgb(202,222,245);
	font-weight: bold;
	text-align: left;
	height: 35px;
}

#editer{
	font-size: 14px;
	background-color: rgb(202,222,245);
	text-align: right;
	vertical-align: bottom;
	font-weight: bold;
	height: 35px;
}

#editertext{
	cursor: pointer;
	position: absolute;
	bottom: 0;
	right: 3px;
}

#adder{
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius:0px;
	width:100%;
	border: none;
	padding-left: 5px;
	border-radius: 0;
	padding-bottom: 0px;
	padding-top: 0px;
	font-size: 21px;
}

#edit{
	width:100%;
	border: none;
	padding-left: 5px;
	border-radius: 0;
	padding-bottom: 0px;
	padding-top: 0px;
}

#footer{
	border-bottom: thin outset black;
}

.box{
	padding-left: 5px;
	font-size: 21px;
}

#plus{
	font-size: 21px;
	cursor: pointer;
	font-weight: bold;
}

::placeholder{
	color: rgba(0, 0, 0, 0.2);
}

textarea:focus, input:focus{
    outline: none;
}

.todotext{
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 5px;
	text-align: left;
	font-size: 21px;
}

.strikethrough{
	text-decoration: line-through;
}

#bootstrap-overrides .nopadding{
	padding: 0;
	text-align: center;
}

#bootstrap-overrides .glyphicon {
    font-size: 14px;
    cursor: pointer;
}

#bootstrap-overrides .checker {
    cursor: pointer;
    margin: 0;
}

#bootstrap-overrides .col-xs-1{
	font-size: 21px;
}

#bootstrap-overrides .col-xs-11{
	font-size: 21px;
}

#bootstrap-overrides .col-xs-12{
	border-left: thin outset black;
	border-right: thin outset black;
	padding: 0;
}

#bootstrap-overrides #superheader{
	margin-top: 5vh;
	border-top: thin outset black;
}
