#bootstrap-overrides{
	font-size:18px;
}

#header{
	margin-top: 5vh;
	font-size: 24px;
	text-align: center;
	border-top: thin outset black;
	background-color: rgb(224,224,224);
}

#adder{
	width: 100%;
	border: thin outset black;
	border-top: none;
	border-bottom: none;
	padding-left: 5px;
}

#footer{
	border-bottom: thin outset black;
}

.box{
	border: thin outset black;
	border-top: none;
	border-bottom: none;
	padding-left: 5px;
	padding-bottom: 5px
}

